---
layout: cmi.hbs
subject: CMI Libary Bookmarks and Sharing
id: 032619
preheader: "Learn how to create and share bookmarks to Facebook, by email, and more."
---
<tr>
  <td>
    <img src="img/cmi/bookmark.jpg" alt="Listing of Bookmarks" width="600" class="img-responsive">
  </td>
</tr>

<!-- START MAIN CONTENT AREA -->
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <h1>Learn About Bookmarks and Sharing</h1>
          <p>
            Dear %recipient_fname%,
          </p>
          <p>
            Did you know you can bookmark your favorite quotes and other inspirational
            text from any teaching in the Library of Christ Mind Teachings? You can also add
            comments and categorize bookmarks by assigning topics. This simplifies finding
            them in the future.
          </p>
          <p>
            Have you ever wanted to share something you read that resonates so deeply you just
            can't keep it to yourself? Bookmarks will help with that!
          </p>
          <p>
            Bookmarks can be shared via Facebook, by email, and by direct linking in documents,
            comments, and chats. And, shared bookmarks contain a link that allows the recipient
            to read directly from the source.
          </p>
          <p>
            I think that's awesome.
          </p>
          <p>
            Get started with <em>Bookmarks</em> and <em>Sharing</em> by watching two short
            videos that will get you up and running quickly. Try it out to see what you can discover.
          </p>
          <p>
            Rick Mercer
          </p>
        </td>
      </tr>
      <tr>
        <td class="wrapper">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <h2>Videos on Bookmarks and Sharing</h2>
                <p>
                There are two new videos available; one covering the ins and outs of creating,
                editing, and listing bookmarks and the other covers all you need to know about
                sharing.
                </p>
                <p>
                  <a href="https://www.christmind.info/acq/video">
                    <img src="img/cmi/sharing-video.jpg" alt="Bookmark Sharing" width="552" class="img-responsive img-block">
                  </a>
                  <hr/>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-- END MAIN CONTENT AREA -->
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <p class="align-center">Discover the Library of Christ Mind Teachings</p>
          <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
            <tbody>
              <tr>
                <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td> <a href="https://www.christmind.info" target="_blank">Visit Today</a> </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="align-center">Love is all you need.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>

