---
layout: acolack.hbs
subject: ACOL Access Request
preheader: "ACOL Access Request"
---
<span class="preheader">ACOL Access Request</span>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>Please grant full ACOL access to:</p>
            <p>name</p>
            <p>email</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_rick }}</p>
      </td>
    </tr>
  </table>
</div>
