---
layout: cmi.hbs
subject: CMI Libary Search
id: 030919
preheader: "Learn how to use the search feature of the Library of Christ Mind Teachings."
---
<tr>
  <td>
    <img src="img/cmi/search.jpg" alt="Helpful placeholder image text" width="600" class="img-responsive">
  </td>
</tr>

<!-- START MAIN CONTENT AREA -->
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <h1>Learn About Search</h1>
          <p>
            Dear %recipient_fname%,
          </p>
          <p>
            Did you know the Library of Christ Mind Teachings has a powerful
            search feature? Have you ever wanted to find a quote in <em>The Course</em>
            but couldn't find it by flipping through the pages?
          </p>
          <p>
            Have you ever wanted to find that ACIM Study Group session where Raj talked
            about every encounter with a brother is supposed to <em>Awesome</em> but
            didn't know where to start. There are over 400 sessions for crying out loud!
          </p>
          <p>
            And how about finding that powerful exercise that Jeshua taught in the
            <em>Way of Mastery</em>, where the heck was that?
          </p>
          <p>
            Search can help with that. 
          </p>
          <p>
            Get started with <em>Search</em> by watching a short video demonstrating
            its use and then, try it out to see what you can discover.
          </p>
          <p>
            Rick Mercer
          </p>
        </td>
      </tr>
      <tr>
        <td class="wrapper">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <h2>Watch Video on Search</h2>
                <p>
                This is a quick demonstration of using search that will put
                the Library teachings at your finger tips.
                </p>
                <p>
                  <a href="https://www.christmind.info/acq/video">
                    <img src="img/cmi/cmi-search.png" alt="Introductory Video" width="552" class="img-responsive img-block">
                  </a>
                  <hr/>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-- END MAIN CONTENT AREA -->
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <p class="align-center">Discover the Library of Christ Mind Teachings</p>
          <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
            <tbody>
              <tr>
                <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td> <a href="https://www.christmind.info" target="_blank">Visit Today</a> </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="align-center">Love is all you need.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>

