<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{subject}}</title>
    <link href="../src/css/cmi.css" media="all" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">
              {{preheader}}
            </span>

            <!-- START HEADER -->
            <div class="header">
              <table border="0" cellpadding="0" cellspacing="0">
                <td>&nbsp;</td>
                <tr>
                  <td class="align-center">
                    <a href="https://www.christmind.info" target="_blank">
                      <img src="img/cmi-logo96.png" width="96" height="96" alt="Logo">
                    </a>
                    <h3>Library of Christ Mind Teachings</h3>
                  </td>
                </tr>
              </table>
            </div>
            <!-- END HEADER -->

            <table border="0" cellpadding="0" cellspacing="0" class="main">
              {{ body }}
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Rick Mercer, Ubud Bali, Indonesia</span>
                    <br> Don't like these emails? <a href="%mailing_list_unsubscribe_url%">Unsubscribe</a>.
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
